.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
  max-width: 250px;
  height: 100svh;
  background-color: #00000099;
  backdrop-filter: blur(30px);

  & > .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    height: 100%;
    width: 100%;
    padding: 1rem;

    & .logo {
      font-size: 1.3rem;
    }

    & > div {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 1rem;
      height: 100%;
      width: 100%;
      overflow-y: auto;

      &::-webkit-scrollbar {
        display: none;
      }

      & .divider {
        display: flex;
        width: 100%;
        color: hsl(0, 0%, 22%);
      }
    }
  }
}

.navigation-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
  height: fit-content;
  width: 100%;

  & > button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    width: 100%;

    & p {
      cursor: pointer;
      margin-bottom: 0 !important;
      &:hover,
      &:focus-visible {
        text-decoration: underline;
      }
    }

    & svg {
      cursor: pointer;
    }
  }

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.5rem;
    height: fit-content;
    width: 100%;
    padding-left: 1rem;
  }
}

.navigation-button {
  text-align: left;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    text-decoration: underline;
  }
}

.point-bullet-text {
  position: relative;
  display: flex;
  gap: 0.5rem;

  &::before {
    content: "•";
    color: white;
    text-shadow:
      0 0 0.2rem,
      0 0 0.5rem;
  }
}

ul {
  & .timeline-card {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-400%, -100%);
      height: calc(100% + 2rem);
      width: 0.25rem;
      background-color: white;
      border-radius: 1rem;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-125%, -100%);
      height: 0.25rem;
      width: 0.75rem;
      background-color: white;
      border-radius: 1rem;
    }
  }

  & .first {
    &::before {
      height: 55%;
    }
  }
}
